@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/NexaLight.eot");
  src: url("../fonts/NexaLight.woff2") format("woff2"), url("../fonts/NexaLight.woff") format("woff"), url("../fonts/NexaLight.ttf") format("truetype"), url("../fonts/NexaLight.svg#NexaLight") format("svg"), url("../fonts/NexaLight.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/NexaBold.eot");
  src: url("../fonts/NexaBold.woff2") format("woff2"), url("../fonts/NexaBold.woff") format("woff"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.svg#NexaBold") format("svg"), url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

div.container, section.container {
  width: 86%;
  margin: 25px auto;
}

section.wide {
  width: 100vw !important;
  margin: 25px 0;
}

.center {
  text-align: center;
}

.v-container {
  display: table;
}

.v-container .vac {
  display: table-cell;
  vertical-align: middle;
}

li {
  list-style: none;
}

ul.inline li {
  display: inline-block;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uil-ring-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
}

.login-form h4 {
  text-align: center;
}

.login-form .el-button {
  width: 100%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
  display: block;
  -webkit-transition: display 0.3s linear;
  transition: display 0.3s linear;
}

.loading h1 {
  color: #23a7f1;
  font-size: 22px;
  text-align: center;
}

.loading.loaded {
  display: none;
}

a {
  color: #23a7f1;
  text-decoration: none;
}

a:hover {
  color: #31383e;
}

.side-nav {
  width: 20%;
  float: left;
  min-height: 100vh;
  background: #31383e;
}

.side-nav .navs .el-menu {
  background: #31383e;
}

.side-nav .navs .el-menu li a {
  color: #fff;
  display: block;
}

.side-nav .navs .el-menu .el-menu-item.is-active {
  background: #fff;
}

.side-nav .navs .el-menu .el-menu-item.is-active a {
  color: #31383e;
}

#main-content {
  width: 80%;
  float: left;
  position: relative;
  min-height: 100vh;
  background: #eee;
}

#main-content .top-nav {
  width: 100%;
  height: 7vh;
  background: #fff;
}

#main-content .top-nav i {
  font-size: 20px;
  font-weight: bold;
}

#main-content .top-nav .toggle-nav {
  float: left;
  padding: 11px;
}

#main-content .top-nav ul.right {
  float: right;
  margin: 0;
  padding: 0;
  padding-right: 2vw;
}

#main-content .top-nav ul.right li {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

#main-content .welcome {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 380px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#main-content .welcome h1 {
  color: #23a7f1;
}

#main-content .welcome h1 span {
  color: #31383e;
}

#main-content .welcome p {
  color: #31383e;
  margin: 35px 0;
}

#main-content .welcome button a {
  display: block;
  color: #31383e;
  font-size: 22px;
}

#main-content .welcome button:hover a {
  color: #23a7f1;
}

.el-dropdown-menu {
  margin-top: -8px;
}

.el-row {
  width: 96%;
  margin: 0 auto !important;
}

/*# sourceMappingURL=backend.css.map */
