@import "./backend/variables";
@import "./mixin";
@import "./ring";

body {
  // background: #eee;
  margin: 0;
}

$primary-color : #31383e;
$secondary-color : #23a7f1;

.login-form {
  h4 {
    text-align: center;
  }
  .el-button {
    width: 100%;

  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99999;
  display: block;
  @include vendor(transition, display 0.3s linear);

  h1 {
    color: $secondary-color;
    font-size: 22px;
    text-align: center;
  }
}

.loading.loaded {
  display: none;

}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

.side-nav {
  width: 20%;
  float: left;
  min-height: 100vh;
  background: $primary-color;

  .navs {
    .el-menu {
      background: $primary-color;

      li a {
        color: #fff;
        display: block;
      }

      .el-menu-item.is-active {
        background: #fff;

        a {
          color: $primary-color;
        }
      }
    }
  }
}
.side-nav.hide {
  transform: translateX(-100%) !important;
  height: 0;
  display: none;
}
#main-content.hide {
  width: 100%;
}

#main-content {
  width: 80%;
  float: left;
  position: relative;
  min-height: 100vh;
  background: #eee;

  .top-nav {
    width: 100%;
    height: 7vh;
    background: #fff;

    i {
      font-size: 20px;
      font-weight: bold;
    }

    .toggle-nav {
      float: left;
      padding: 11px;
    }

    ul.right {
      float: right;
      margin: 0;
      padding: 0;
      padding-right: 2vw;

      li {
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .welcome {
    width: 70%;
    margin: auto;
    text-align: center;
    height: 380px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    h1 {
      color: $secondary-color;

      span {
        color: $primary-color;
      }
    }

    p {
      color: $primary-color;
      margin: 35px 0;
    }

    button {
      a {
        display: block;
        color: $primary-color;
        font-size: 22px;
      }

      &:hover {
        a {color: $secondary-color;}
      }
    }
  }
}

.el-dropdown-menu {
  margin-top: -8px;
}

.el-row {
  width: 96%;
  margin: 0 auto !important;
}